ipython==6.5.0
boto3==1.7.82
pytz==2018.5
requests==2.19.1
meinheld==0.6.1
gunicorn==19.9.0
Django==2.1
mysqlclient==1.3.13
django-redis==4.9.0
django-import-export==1.0.1
django-extensions==2.1.0
Werkzeug==0.14.1
